{% extends ':home:base.html.twig' %}

{% block body %}
<!-- content-top starts
================================================== -->
    <div id="content-top">
        <div id="content-top-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>{{ 'home.login.forgot_password'|trans }}</h1>
                        <ul class="breadcrumb">
                            <li><a href="{{ path('home_index') }}">{{ 'home.home'|trans }}</a> <span class="divider">/</span></li>
                            <li class="active">{{ 'home.login.forgot_password'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- content-top ends

<!-- content starts
================================================== -->
    <section id="content">
        <div class="container">

            <!--row (first) starts-->
            <div class="row">

                <!--first column starts-->
                <div class="span6">
                    <h3>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</h3>
                </div>

                {% include(':home:second_column.html.twig') %}
            </div>
        </div>
    </section>
{% endblock body %}
