{% extends ':home:base.html.twig' %}

{% block body %}
    <!--slider starts-->
    <div id="slider-wrapper">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>

                    <!--first slide starts-->
                    <li data-transition="fade" data-masterspeed="300">

                        <!--background image for first slide-->
                        <img src="{{ asset('lib/megabiz/img/rev-slider/slider-bg.jpg') }}" alt="image">

                        <!--all content / captions of first slide-->
                        <div class="caption large_text lfl"
                             data-x="30"
                             data-y="168"
                             data-speed="600"
                             data-start="500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> We welcome </div>
                        <div class="caption large_text sfr sfl"
                             data-x="217"
                             data-y="168"
                             data-speed="600"
                             data-start="500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> <strong>challenges.</strong> </div>
                        <div class="caption caption-box-grey lfl"
                             data-x="30"
                             data-y="222"
                             data-speed="800"
                             data-start="800"
                             data-easing="easeOutBack" data-endspeed="800" data-endeasing="easeInSine">Fast exchange tools</div>
                        <div class="caption randomrotate fadeout"
                             data-x="386"
                             data-y="130"
                             data-speed="800"
                             data-start="800"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-1/slide1-info1.png') }}" alt="image"></div>
                        <div class="caption caption-box-grey  lfl"
                             data-x="30"
                             data-y="260"
                             data-speed="800"
                             data-start="1000"
                             data-easing="easeOutBack" data-endspeed="800" data-endeasing="easeInSine">Chart analyses</div>
                        <div class="caption caption-box-grey lfl"
                             data-x="30"
                             data-y="298"
                             data-speed="800"
                             data-start="1300"
                             data-easing="easeOutBack" data-endspeed="800" data-endeasing="easeInSine">Powerful hardware</div>
                        <div class="caption lft ltb"
                             data-x="600"
                             data-y="60"
                             data-speed="600"
                             data-start="1300"
                             data-easing="easeOutExpo" data-end="3300" data-endspeed="600" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-1/slide1-img1.jpg') }}" alt="image"></div>
                        <div class="caption caption-box-orange sfb"
                             data-x="950"
                             data-y="365"
                             data-speed="340"
                             data-start="1600"
                             data-easing="easeOutExpo" data-end="3500" data-endspeed="300" data-endeasing="easeInSine">Advanced technology</div>
                        <div class="caption lft ltb"
                             data-x="600"
                             data-y="60"
                             data-speed="600"
                             data-start="3800"
                             data-easing="easeOutExpo" data-end="5800" data-endspeed="600" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-1/slide1-img2.jpg') }}" alt="image"></div>
                        <div class="caption caption-box-blue sfb sfb"
                             data-x="970"
                             data-y="365"
                             data-speed="300"
                             data-start="4100"
                             data-easing="easeOutExpo" data-end="6000" data-endspeed="300" data-endeasing="easeInSine" >Friendly support</div>
                        <div class="caption lft ltb"
                             data-x="600"
                             data-y="60"
                             data-speed="600"
                             data-start="6300"
                             data-easing="easeOutExpo" data-endspeed="800"  data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-1/slide1-img3.jpg') }}" alt="image"></div>
                        <div class="caption caption-box-green sfb sfb"
                             data-x="975"
                             data-y="365"
                             data-speed="300"
                             data-start="6600"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine">New opportunities</div>
                    </li>
                    <!--first slide ends-->

                    <!--second slide starts-->
                    <li data-transition="papercut" data-masterspeed="300">

                        <!--background image for second slide-->
                        <img src="{{ asset('lib/megabiz/img/rev-slider/slider-bg.jpg') }}" alt="image">

                        <!--all content / captions of second slide-->
                        <div class="caption lfb"
                             data-x="226"
                             data-y="194"
                             data-speed="800"
                             data-start="0"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/symbol-trans.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout"
                             data-x="211"
                             data-y="62"
                             data-speed="600"
                             data-start="1400"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon1.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout "
                             data-x="359"
                             data-y="129"
                             data-speed="600"
                             data-start="1800"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon2.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout "
                             data-x="353"
                             data-y="265"
                             data-speed="600"
                             data-start="2200"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon3.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout "
                             data-x="189"
                             data-y="337"
                             data-speed="300"
                             data-start="2600"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon4.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout "
                             data-x="38"
                             data-y="278"
                             data-speed="600"
                             data-start="3000"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon5.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout "
                             data-x="45"
                             data-y="122"
                             data-speed="600"
                             data-start="3400"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> <img src="{{ asset('lib/megabiz/img/rev-slider/slide-2/slide2-icon6.png') }}" alt="image"></div>
                        <div class="caption large_text lfr ltt"
                             data-x="570"
                             data-y="150"
                             data-speed="600"
                             data-start="3400"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> We are <strong>experts</strong> in what we do.<br/>
                            Meeting the <span class="caption-color">demands</span> for most of the<br/>
                            members. </div>
                        <div class="caption lfr ltb caption-box-grey"
                             data-x="570"
                             data-y="280"
                             data-speed="600"
                             data-start="3600"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"> Offering innovative and flexible approach</div>
                    </li>
                    <!--second slide ends-->

                    <!--third slide starts-->
                    <li data-transition="3dcurtain-horizontal" data-slotamount="6" data-masterspeed="300">

                        <!--background image for third slide-->
                        <img src="{{ asset('lib/megabiz/img/rev-slider/slider-bg.jpg') }}" alt="image">

                        <!--all content / captions of third slide-->
                        <div class="caption lfb ltb"
                             data-x="145"
                             data-y="210"
                             data-speed="1100"
                             data-start="200"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slide3-img1.jpg') }}" alt="image"></div>
                        <div class="caption lfb ltt"
                             data-x="365"
                             data-y="210"
                             data-speed="1100"
                             data-start="900"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slide3-img2.jpg') }}" alt="image"></div>
                        <div class="caption lfb ltb"
                             data-x="585"
                             data-y="210"
                             data-speed="1100"
                             data-start="1400"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slide3-img3.jpg') }}" alt="image"></div>
                        <div class="caption lfb ltt"
                             data-x="805"
                             data-y="210"
                             data-speed="1100"
                             data-start="1800"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slide3-img4.jpg') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout"
                             data-x="70"
                             data-y="77"
                             data-speed="600"
                             data-start="2500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slider3-info1.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout"
                             data-x="420"
                             data-y="77"
                             data-speed="600"
                             data-start="2500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slider3-info2.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout"
                             data-x="620"
                             data-y="77"
                             data-speed="600"
                             data-start="2500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slider3-info3.png') }}" alt="image"></div>
                        <div class="caption randomrotate fadeout"
                             data-x="936"
                             data-y="77"
                             data-speed="600"
                             data-start="2500"
                             data-easing="easeOutExpo" data-endspeed="800" data-endeasing="easeInSine"><img src="{{ asset('lib/megabiz/img/rev-slider/slide-3/slider3-info4.png') }}" alt="image"></div>
                    </li>
                    <!--third slide ends-->

                    <!--fourth slide starts-->
                    <li data-transition="fade">

                        <!--background image for fourth slide-->
                        <img src="{{ asset('lib/megabiz/img/rev-slider/slider-bg.jpg') }}" alt="image">

                        <!--all content / captions of fourth slide-->
                        <div class="caption large_text lfl ltt"
                             data-x="30"
                             data-y="150"
                             data-speed="1400"
                             data-start="600"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine"> Yes! We <strong>stand out</strong> in a crowd. <br/>
                            We are capable of carry out <span class="caption-color">complex</span> <br/>
                            projects in an innovative way. </div>
                        <div class="caption caption-box-dark lfl ltb"
                             data-x="30"
                             data-y="280"
                             data-speed="1400"
                             data-start="600"
                             data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine">Best exchange solutions.</div>
                        <div class="caption boxshadow lft fadeout" data-x="630" data-y="75" data-speed="1400"
                             data-start="600" data-easing="easeInOutElastic" data-endspeed="800" data-endeasing="easeInSine">
                            {#<iframe src="https://ethereumpro.org/uploads/video/Ethereum- the World Computer.mp4" autoplay="false" width="510" height="350"></iframe>#}
                            <img src="/lib/megabiz/img/rev-slider/slide4-img1.jpg" width="510" height="350">
                        </div>
                    </li>
                    <!--fourth slide ends-->

                </ul>
            </div>
        </div>
    </div>
    <!--slider ends-->

    {{ page.text|raw }}
{% endblock %}