{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('lib/metis/assets/css/dataTables.bootstrap.css') }}">
{% endblock styles %}

{% block title_content %}<i class="fa fa-question-circle"></i>&nbsp; Вопросы-ответы{% endblock title_content %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <header>
                    <div class="icons">
                        <i class="fa fa-table"></i>
                    </div>
                    <h5>Все вопросы-ответы</h5>
                </header>
                <div id="collapse4" class="body">
                    <table class="table table-bordered table-condensed table-hover table-striped dataTable">
                        <thead>
                        <tr class="grid-row-titles">
                            <th class="sorting " style="color: black; width: 40%">Заголовок</th>
                            <th class="sorting " style="color: black; width: 40%">Локаль</th>
                            <th class="last-column" style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for faq in faqs %}
                            <tr class="grid-row-cells even">
                                <td class="grid-column-lastIp">{{ faq.title }}</td>
                                <td class="grid-column-lastIp">{{ faq.locale }}</td>
                                <td class="" style="text-align: center">
                                    <a target="_self" href="{{ path('settings_faq', {'id': faq.id}) }}" class="action-icon" style="margin-left: 10px">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a target="_self" href="{{ path('delete_faq', {'id': faq.id}) }}" class="action-icon" style="margin-left: 10px">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}