{% extends ':office:base.html.twig' %}

{% block title %}{{ 'profile.change_password'|trans }}{% endblock %}

{% block title_content %}
    {{ 'profile.change_password'|trans }}
{% endblock %}

{% block content %}
<div class="innerLR">
    <div class="row-fluid">
        <!-- Column -->
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {% include ':office:alert_success.html.twig' with {'message' : flashMessage} %}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                {% include ':office:alert_error.html.twig' with {'message' : flashMessage} %}
            {% endfor %}
            <!-- Widget -->
            <div class="widget">
                <!-- Widget heading -->
                <div class="widget-head">
                    <h4 class="heading">{{ 'profile.change_password'|trans }}</h4>
                </div>
                <!-- // Widget heading END -->

                <div class="widget-body">
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="well">
                                    <!-- Group -->
                                    <div class="control-group ">
                                        {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label required', 'style': 'width: 160px; text-align: left'}}) }}
                                        <div class="controls">
                                            {{ form_widget(form.current_password, {'attr': {'class': 'span6'}}) }}
                                            {% if form_errors(form.current_password) %}
                                                <p class="error help-block">
                                                    <span class="label label-important">{{ form_errors(form.current_password) }}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- // Group END -->

                                    <!-- Group -->
                                    <div class="control-group ">
                                        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label required', 'style': 'width: 160px; text-align: left'}}) }}
                                        <div class="controls">
                                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'span6'}}) }}
                                            {% if form_errors(form.plainPassword.first) %}
                                                <p class="error help-block">
                                                    <span class="label label-important">{{ form_errors(form.plainPassword.first) }}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- // Group END -->

                                    <!-- Group -->
                                    <div class="control-group ">
                                        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label required', 'style': 'width: 160px; text-align: left'}}) }}
                                        <div class="controls">
                                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'span6'}}) }}
                                            {% if form_errors(form.plainPassword.second) %}
                                                <p class="error help-block">
                                                    <span class="label label-important">{{ form_errors(form.plainPassword.second) }}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- // Group END -->
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <div style="margin-top: 10px" class="row-fluid">
                            <div class="span5"></div>
                            <div style="text-align: center" class="span2">
                                <input type="submit" class="btn btn-success hidden-phone" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}">
                            </div>
                            <div class="span5"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
