{% extends '::base.html.twig' %}

{% form_theme form '::twig_theme.html.twig' %}

{% block title_content %}<i class="fa fa-gear"></i>&nbsp; Настройки{% endblock title_content %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_succes.html.twig' with {'text' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'text' : flashMessage} %}
    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <header>
                    <div class="icons">
                        <i class="fa fa-edit"></i>
                    </div>
                    <h5>Арбитраж</h5>
                </header>
                <div id="collapse4" class="body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
                    <div class="form-group {% if form_errors(form.multiplier) %}has-error{% endif %}">
                        {{ form_label(form.multiplier, 'Множитель', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.multiplier, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.multiplier) %}
                                <span id="required2-error" class="help-block">{{ form_errors(form.multiplier) }}</span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.arbitrageMaxSum) %}has-error{% endif %}">
                        {{ form_label(form.arbitrageMaxSum, 'Максимальная сумма', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.arbitrageMaxSum, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.arbitrageMaxSum) %}
                                <span id="required2-error" class="help-block">{{ form_errors(form.arbitrageMaxSum) }}</span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.commission) %}has-error{% endif %}">
                        {{ form_label(form.commission, 'Коммиссия (%)', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.commission, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.commission) %}
                                <span id="required2-error" class="help-block">{{ form_errors(form.commission) }}</span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.arbitrageFinePercent) %}has-error{% endif %}">
                        {{ form_label(form.arbitrageFinePercent, 'Штраф (%)', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.arbitrageFinePercent, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.arbitrageFinePercent) %}
                                <span id="required2-error" class="help-block">{{ form_errors(form.arbitrageFinePercent) }}</span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.arbitrageProlongation) %}has-error{% endif %}">
                        {{ form_label(form.arbitrageProlongation, 'Пролонгация (%)', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.arbitrageProlongation, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.arbitrageProlongation) %}
                                <span id="required2-error" class="help-block">{{ form_errors(form.arbitrageProlongation) }}</span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    {{ form_rest(form) }}
                    <div class="form-group">
                        <div class="control-label col-lg-3"></div>
                        <div style="float: right" class="col-lg-9">
                            <input type="submit" value="Сохранить" class="btn btn-metis-6 btn-sm">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}